@{ 
    string link;
    if (ViewBag.All!=null && ViewBag.All)
    {
        link = "/Engine/Messages?showAll=2";
    }
    else
    {
        link = "/Engine/EngineStates?id=" + @Model.Id + "&mode=";
    }
}

@using (Ajax.BeginForm("", "", null, new AjaxOptions { UpdateTargetId = "content2", Url = link/*"/Engine/EngineStates?id=" + @Model.Id + "&mode=" */}, new { @class = "datepick text-left" }))
{

    

    <div class="row">
        <div class="col-md-offset-3">   
                <div class="input-daterange input-group" id="datepickers">
                    <input type="text" id="datepicker" class="datepicker" name="dateStart"  placeholder="From"  onchange="datePickerChange()">
                    <input type="text" id="datepicker" class="datepicker" name="dateFinish" placeholder="To"  onchange="datePickerChange()">
                    <input id="show" type="submit" value="Show" class="btn-user" />
                </div>
        </div>
    </div>
        <div class="row hidden" id="InsilationResistButtons">
            <div class="col-md-offset-3 btn-group" data-toggle="buttons">
                <label class="btn  active" id="labelTable">  <!--btn-user btn-primary-->
                    <input type="radio" name="viewType" value="table" checked onchange="update()">Table
                </label>
                <label class="btn" id="labelGraph">
                    <input type="radio" name="viewType" value="graph" onchange="update()">Graph
                </label>
            </div>
        </div>
}

@section Scripts {

}
