@model IEnumerable<Objects.EngineState>

<div class="pre-scrollable engineStates">
    <table class="table text-left">
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>Insulation Resistance, kOhm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var es in Model)
            {
                <tr>
                    <td><span>@es.Date</span></td>
                    <td><span>@es.Value</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
