@model Talas.Models.LoginModel

@{
    ViewBag.Title = "Authentication";
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="_idContainer001">
        <span class="CharOverride-36">Sign in to</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 " id="_idContainer002">
        <span class="CharOverride-1">TALAS MONITORING</span>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 ">
            <input id="_idInputLogin" class="inputT" type="text"
                   name="Login" placeholder="Login">
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3  ">
                <input id="_idInputPassword" class="inputT" type="password" name="Password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 " id="_idContainer002">
                <button class="submit" type="submit" name="submit" value="enter">
                    Log in
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 "  id="_idContainer003">
                <span class="CharOverride-14">Forgot password or login?</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <input class="checkbox" id="checkbox" type="checkbox"
                       name="RememberMe" value="true" />
                <input name="RememberMe" type="hidden" value="false" />
                <span class="CharOverride-14">Keep me sign in</span>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

